#slider{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
}
.image{
    width: 60%;
    height: 350px;
}

.imagess{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
 
}
#container>div img{
    width: 200px;
    height: 200px;

}
.imagess>div{
    height: 200px;
    padding: 40px;
  border-radius: 10px;
    background-color: black;

}
.sele{
    margin-left: -43px;
    height: 40px;
    width: 40px;
}
#submit{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

body{
    background-image: url('https://img.freepik.com/free-vector/restaurant-mural-wallpaper_23-2148692632.jpg?w=2000');
}

#submit>input{
    width: 100px;
background-color: red;
border-radius: 5px;
cursor: pointer;
    height: 40px;
    transition: background 0.3s ease-out;
}

#btn{
    visibility: hidden;
    width: 200px;
    background-color: red;
border-radius: 5px;
cursor: pointer;
    height: 40px;
    transition: background 0.3s ease-out;
    
}
#btnbox{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
#tit{
    background-color: black; text-align: center; color: wheat; width: 400px;
   height: 100px; display: flex;margin: auto; align-items: center; justify-content: center; margin-top: 5px;
}

@media(max-width:560px){
    #slider{
        width: 100%;
        height: 150px;
      display: flex;
        margin-bottom: 20px;
        justify-content: center;
       
    }
    .image{
   
        width: 100%;
      height: 150px;
    }

    .imagess{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
     
    }
    #tit{
        background-color: black; text-align: center; color: wheat; width: 200px;
       height: 200px; display: flex;margin: auto; align-items: center; justify-content: center; margin-top: 5px;
    }

    

}